.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.recipe-app {
  display: flex;
  padding: 20px;

  .ingredients {
    width: 40%;
  }
  .recipes {
    width: 60%;
  }
}

.search {
  position: relative;
  .search-results {
    margin:0;
    padding: 0;
    width: 100%;
    position:absolute;
    background:white;

    li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding:10px;
      border:1px solid #e6e6e6;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}