.recipe-app {
  display: flex;
  padding: 20px;

  .ingredients {
    width: 40%;
  }
  .recipes {
    width: 60%;
  }
}

.search {
  position: relative;

  input.search-ingredient {
    width: 100%;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #e0e0e0;
    outline: none;
  }

  .search-results {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    background: #fbfbfb;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    overflow: hidden;

    li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background: #e2e2e2;
      }
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}
